<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.springboot.mapper.ApiLogMapper">

  <select id="findPg" resultType="com.course.springboot.entity.ApiLog">
    SELECT
    t.*
    FROM sys_ApiLog t
  </select>

</mapper>
