<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.springboot.mapper.MenuMapper">

  <select id="findPg" resultType="com.course.springboot.entity.Menu">
    SELECT
    t.*
    FROM sys_Menu t
  </select>

</mapper>
