<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.sharding.jdbc.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.course.sharding.jdbc.entity.Department">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="corp_id" property="corpId"/>
        <result column="create_time" property="createTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="update_time" property="updateTime"/>
        <result column="code" property="code"/>
        <result column="dept_array" property="deptArray"/>
        <result column="level" property="level"/>
        <result column="name" property="name"/>
        <result column="name" property="name"/>
        <result column="num" property="num"/>
        <result column="parent_id" property="parentId"/>
        <result column="path_ids" property="pathIds"/>
        <result column="path_names" property="pathNames"/>
        <result column="remark" property="remark"/>
        <result column="contact" property="contact"/>
        <result column="phone" property="phone"/>
        <result column="assign" property="assign"/>
    </resultMap>

    <select id="listByParam" resultType="com.course.sharding.jdbc.entity.Department">
        SELECT * FROM department WHERE  `name` LIKE  '${name}%'
    </select>

</mapper>
