<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置handler -->
    <bean name="/queryUser" class="com.course.mvc.handler.QueryUserHandler"></bean>
    <bean name="/addUser" class="com.course.mvc.handler.AddUserHandler"></bean>

    <!-- 配置处理器映射器 -->
    <bean class="com.course.mvc.mapping.BeanNameUrlHandlerMapping" init-method="init"></bean>
    <bean class="com.course.mvc.mapping.SimpleUrlHandlerMapping" init-method="init"></bean>

    <!-- 配置适配器 -->
    <bean class="com.course.mvc.adapter.HttpRequestHandlerAdapter"></bean>
    <bean class="com.course.mvc.adapter.SimpleControllerHandlerAdapter"></bean>
</beans>